body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    max-width: 100%;
    background-color:white;
}

h1 {
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 15vh;
    text-align: center;
}
h2{
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 2vh;
    text-align: center;
    padding: 1vh;
}    
}

.content {
    width: 100%
}

.dices {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.dice {
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: white;
    display: inline-flex;
}

.dicelist {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

#dicenumber {
    min-width: 30%;
    padding: 10px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
    border: solid black 0.5vh;
}

#graphics {
    max-width: 95%;
    height: fit-content;
    background-color: rgb(126, 126, 126);
    margin: auto;
    margin-top: 5vh;
    border: solid black 0.5vh;
}
#graphics h2{
    font-size: 8vh;
    margin: 2vh;
}
.barra{
    background-color: black;
    height: 8vh;
    color: whitesmoke;
    border: rgb(41, 40, 40) solid 0.5vh;
}